.city {
    width: 600px;
    height: auto;
}

.img-rounded {
    border-radius: 10px;
}

.img-circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.img-link {
    width: 150px;
    height: auto;
    border: 20px double rgb(rgb(148, 82, 82), rgb(12, 80, 12), rgb(22, 22, 136));
}

.img-link:hover {
    box-shadow: 0px 0px 2px 2px rgb(28, 25, 194);
}

.card-img {
    width: 100%;
    /* height: auto; */
    /* 100% of the father (here father is div) */
    opacity: 0.5; 
    /* for fade */
}

.card {
    width: 400px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.card-text {
    text-align: center;
}

.london-bg {
    height: 800px;
    border: 2px solid black;
    background-image: url(/images/london.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}